# -*- mode: conf -*-

[Unit]
Description=Synchronize OrgMode Notes
Wants=org-sync.timer

[Service]
ExecStart=/bin/sh -c /home/iomonad/org/sync
WorkingDirectory=/home/iomonad/org
Slice=org-sync.slice

[Install]
WantedBy=multi-user.target
