# -*- mode: conf -*-

[Unit]
Description=Run org-sync every 15-30 minutes

[Timer]
Unit=org-sync.service
OnUnitInactiveSec=50m
RandomizedDelaySec=50m
AccuracySec=1s

[Install]
WantedBy=timers.target
