[submodule "emacs"]
	path = emacs
	url = https://github.com/iomonad/emacs.d.git
[submodule "xres.d/crayolo"]
	path = xres.d/crayolo
	url = https://github.com/dkeg/crayolo.git
[submodule "xres.d/urxvt-perls"]
	path = xres.d/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "mozilla/user-style"]
	path = mozilla/user-style
	url = git@github.com:phallus/user-styles.git
[submodule "bin/utils"]
	path = bin/utils
	url = https://github.com/iomonad/utils
