mutt/riseup.muttrc
mutt/teknik.muttrc
vim/bundle
vim/screenshots
mutt/cache
mutt/temp
ncmpcpp/error.log
mpd/mpd.log
zsh/zsh-history
lein/repl-history
lein/self-installs/
ranger/history
zsh/zsh-history
vimperator/info/default/history-command
vimperator/info/default/history-search
newsbeuter/cache.db
newsbeuter/log
