mutt/riseup.muttrc
mutt/teknik.muttrc
vim/bundle
vim/screenshots
mutt/cache
mutt/temp
ncmpcpp/error.log
mpd/mpd.log
zsh/zsh-history
lein/repl-history
lein/self-installs/
ranger/history
zsh/zsh-history
vimperator/info
newsbeuter/cache.db
newsbeuter/log
weechat/irc.conf
weechat/logs
weechat/weechat.log
weechat/weechat_fifo_22740
zsh/zsh-history
bin/utils
vimperator/info/default
mpd/mpd.pid
mpd/mpdstate
xmonad/xmonad-x86_64-linux
*.hi
*.o
