mutt/riseup.muttrc
mutt/teknik.muttrc
vim/bundle
vim/screenshots
mutt/cache
mutt/temp
ncmpcpp/error.log
mpd/mpd.log
zsh/zsh-history
lein/repl-history
lein/self-installs/
ranger/history
zsh/zsh-history
vimperator/info
newsbeuter/cache.db
newsbeuter/log
weechat/irc.conf
weechat/logs
weechat/weechat.log
weechat/weechat_fifo_22740
zsh/zsh-history
vimperator/info/default
mpd/mpd.pid
mpd/mpdstate
xmonad/xmonad-x86_64-linux
*.hi
*.o
*.zwc
xmonad/xmonad.errors
zsh/backupzsh.tar.gz
ssh/known_hosts
ssh/keys
ssh/connections/
weechat/country
weechat/logs
weechat/buddylist.txt
weechat/irc.conf
weechat/weechat.log
*.log
weechat/urlserver_list.txt
weechat/sec.conf
weechat/perl
weechat/python
ranger/bookmarks
cache
weechat/ssl
stack/global-project/.stack-work
mpd/mpd.db
mutt/trosa.muttrc
*msmtprc
ssh/private
zsh/02-private.zsh
passwords.kdbx
mutt/n
xres.d/crayolo
ssh/connections/*
ssh/id_rsa
ssh/id_rsa.pub
ssh/keys/*
ssh/know_hosts
ssh/private/*
xmonad/xmonad.state
stack/build-plan-cache/
stack/build-plan/
stack/indices/
stack/loaded-snapshot-cache/
stack/precompiled/
stack/programs/
stack/setup-exe-cache/
stack/setup-exe-src/
stack/snapshots/
stack/templates/
newsbeuter/cache.db
newsbeuter/history.cmdline
newsbeuter/history.search
sbcl/quicklisp
*.db
*gdb_history*
radare2/history
mpd/mpd.db
radare2/plugins
radare2/r2pm
target
*.lock
zsh/01-private.zsh
zsh/history
mpv/watch_later
*.keep*
emacs/work/network-security.data
emacs/work/elpa
emacs/work/packages
emacs/work/request
*eshell*
*history*
*__pycache__*
darktable/darktablerc
