!clear Lock
!clear Control
!keycode 66 = Control_L
!add Control = Control_L

!type matrix: 163 = msg, not necessary
keycode 163 = Mode_switch Mode_switch Mode_switch Mode_switch
keycode 135 = Mode_switch Mode_switch Mode_switch Mode_switch
keycode 110 = Mode_switch Mode_switch Mode_switch Mode_switch
keycode 105 = Control_R Control_R Control_R Control_R
keycode 37 = Control_L Control_L Control_L Control_L
 
!clear mod3
!keysym Alt_R = Mode_switch
!keysym Alt_L = Mode_switch
!add mod3 = Mode_switch
!
!clear mod1
!add mod1 = Super_L Super_R

!clear Lock
clear Mod1
clear Mod3
!clear 
keycode 203 = NoSymbol NoSymbol NoSymbol NoSymbol
keycode 204 = NoSymbol NoSymbol NoSymbol NoSymbol
keycode 205 = NoSymbol NoSymbol NoSymbol NoSymbol
keycode 206 = NoSymbol NoSymbol NoSymbol NoSymbol
keycode 207 = NoSymbol NoSymbol NoSymbol NoSymbol

!keycode 64  = Alt_L Alt_L Alt_L Alt_L
!keycode 108 = Alt_R Alt_R Alt_R Alt_R
keycode 64  = Super_R Super_R Super_R Super_R
keycode 108 = Super_L Super_L Super_L Super_L
keycode 133 = Mode_switch Mode_switch Mode_switch Mode_switch
keycode 134 = Mode_switch Mode_switch Mode_switch Mode_switch

!keycode 66  = Control_R Control_R Control_R Control_R

!add lock = Control_L Control_R
!add Mod3 = Mode_switch
add Mod1 = Super_L Super_R
!add Mod3 = Alt_L Alt_R


! /
keysym	slash	= slash	question	backslash
keysym	less	= grave	asciitilde	underscore

keysym	e	= e	E		eacute		Eacute
keysym	3	= 3	numbersign	ecircumflex	Ecircumflex
keysym	4	= 4	dollar		ediaeresis	Ediaeresis
keysym	d	= d	D		egrave		Egrave
keysym	a	= a	A		agrave		Agrave
keycode	0x29	= grave	asciitilde	adiaeresis	Adiaeresis
keysym	1	= 1	exclam		acircumflex	Acircumflex

keysym	c	= c	C		ccedilla	Ccedilla

keysym	o	= o	O		ocircumflex		Ocircumflex
keysym	i	= i	I		iacute		Iacute
keysym	u	= u	U		ugrave		Ugrave

keysym	8	= 8	asterisk	idiaeresis	Idiaeresis
keysym	9	= 9	parenleft	odiaeresis	Odiaeresis

! surround:
keysym	j	= j	J	parenleft
keysym	k	= k	K	parenright
keysym	m	= m	M	bracketleft
keysym	comma	= comma	less	bracketright
keysym	t	= t	T	braceleft
keysym	b	= b	B	braceright

! qwert
keysym	q	= q	Q	asciicircum
keysym	w	= w	W	minus
keysym	r	= r	R	equal

! asdfg
keysym	s	= s	S	quotedbl
keysym	f	= f	F	ampersand
keysym	g	= g	G	bar

! zxcvb
keysym	z	= z	Z	plus
keysym	x	= x	X	underscore
keysym	v	= v	V	asterisk

! yhn
keysym	y	= y	Y	minus
keysym	h	= h	H	underscore
keysym	n	= n	N	plus
! keycode 0x5e = grave asciitilde underscore
! keycode 0x5e = grave asciitilde underscore
! keysym grave =grave asciitilde underscore
