body:empty {
    background: #808080;
}

input,
select,
textarea,
button {
    /*color: #B3B2C9 !important;*/
    font-family: inherit;
    font-size: inherit;
}

.dwb_hint {
    font-family: Fixed !important;
    padding: 1px 1px !important;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#dwb_hint_notifier,
#dwb_hover_element {
    font-family: Fixed !important;
    font-size: 12px !important;
    /*display:none!important; */
}
